<div class="jumbotron jumbotron-fluid jumbo-logo">
  {{!-- SAVE ALERT --}}
  <div class="alert alert-danger" role="alert">
    <strong>Invalid Username/Password. Please try again.</strong>
  </div>

  <div class="container">
    <img class="block-logo" src="/assets/img/block-logo.svg">
  </div>
</div>
<div class="container login">
  <div class="row">
    <div class="col-sm-2 col-md-4"></div>
    <div class="col-sm-8 col-md-4">
      <div class="card login-card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <hr>
          <form>
            <div class="form-group">
              <label for="email-input">Email address</label>
              <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password-input">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <hr>
            <p class="error-message" style="font-size: smaller;"></p>
            <button type="login" class="btn btn-secondary" id="login">Login</button>
          </form>
          <a href="signUp" type="sign-up" id="sign-up" class="btn btn-link">Sign Up</a>
        </div>
      </div>
      <a href="index" id="sign-up" class="btn btn-link">Continue As Guest</a>
    </div>
    <div class="col-sm-2 col-md-4"></div>
  </div>
</div>

{{!--  jQuery CDN --}}
<script src="https://code.jquery.com/jquery.js"></script>
{{!-- User Login Page Logic --}}
<script src="/assets/js/user-login-logic.js"></script>