<div class="jumbotron jumbotron-fluid jumbo-logo">
  <div class="container">
    <img class="block-logo" src="/assets/img/block-logo.svg">
  </div>
</div>

<div class="container user-input-container">
  <form id="signup-form">
    <h5 class="card-title">Sign Up</h5>
    <hr class="top">
    <div class="form-group email">
      <label for="new-email">Email Address</label>
      <input type="email" class="form-control" id="new-email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group password">
      <label for="new-password">Password</label>
      <input type="password" class="form-control" id="new-password" placeholder="Password">
    </div>
    <div class="form-group password">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
    </div>
    <hr>
    <p class="error-message" style="font-size: smaller;"></p>
    <a>
      <button class="btn btn-secondary" id="signup-button">Submit</button>
    </a>
  </form>
  <a href="/" id="sign-up" class="btn btn-link">I'm already a user.</a>
</div>

{{!--  jQuery CDN --}}
<script src="https://code.jquery.com/jquery.js"></script>
{{!-- Sign-Up Page Logic --}}
<script src="/assets/js/signup-logic.js"></script>