<div class="jumbotron jumbotron-fluid jumbo-logo">
  <div class="container">
    <img class="block-logo" src="/assets/img/block-logo-04.svg">
  </div>
</div>

<div class="container user-input-container">
  <form id="signup-form">
    <h5 class="card-title">Sign Up</h5>
    <hr class="top">
    <div class="form-group email">
      <label for="new-email">Email address</label>
      <input type="email" class="form-control" id="new-email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group password">
      <label for="new-password">Password</label>
      <input type="password" class="form-control" id="new-password" placeholder="Password">
    </div>
    <div class="form-group password">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
    </div>
    <hr>
    <a href="index">
      <button type="submit" class="btn btn-secondary" id="signup-button">Submit</button>
    </a>
  </form>
</div>

<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body signup-validation">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>