body {
  background-image: url(../img/white-carbon.png);
  background-repeat: repeat;
  text-align: center;
}
/* ======================================================= */
/* NAVBAR */
div#navbar-wrap {
  position: fixed;
  z-index: 10;
  right: 100%;
  width: 100%;
  height: 100%;
  align-content: center;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 1) !important;
  color: white;
  position: absolute;
  left: 100%;
  flex-direction: column;
  display: inline-block;
  width: 50px;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

nav.ul {
  list-style: none;
}

nav.a {
  /* display: block; */
  margin-top: 10px;
}

i.icon-menu {
  color: #2e7fad;
  vertical-align: middle;
}

.full-menu {
  visibility: hidden;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  visibility: hidden;
}

.bars {
  background-color: transparent;
  text-align: center;
  outline: none;
  border: none;
  padding: 10px;
  width: 100%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
  border: none;
}

li.saved {
  padding: 0;
}

button.view-saved {
  color: #2e7fad !important;
}

button.view-saved:hover {
  color: white !important;
}

img.navbar-logo {
  height: auto;
  width: 50%;
}

button.dropdown-toggle {
  color: #2e7fad;
}

i.fa-history {
  color: #2e7fad;
}

/* ======================================================= */
div.jumbo-logo {
  text-align: center;
  background-color: transparent !important;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

img.block-logo {
  width: 50%;
  height: auto;
  margin-top: 1.5rem;
}

div.login {
  margin-top: 3%;
  text-align: center;
}

div.login-card {
  border-radius: 50px 5px 5px 5px;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

li.list-group-item {
  background-color: transparent;
  text-align: center;
  padding: 0;
}

a:link {
  color: #2e7fad;
  text-decoration: none !important;
}

a:visited {
  color: #2e7fad;
  text-decoration: none !important;
}

a:hover {
  color: #000000;
  text-decoration: none !important;
}

a:active {
  color: #2e7fad;
  text-decoration: none !important;
}

button.btn-link {
  text-decoration: none !important;
  color: black;
}

button.btn-link:visited {
  color: #2e7fad;
  text-decoration: none !important;
}

button.btn-link:hover {
  text-decoration: none !important;
  color: #2e7fad;
}

button.btn-link:active {
  color: #2e7fad;
  text-decoration: none !important;
}

button.btn-secondary {
  margin-top: 1%;
  margin-bottom: 2%;
  background-color: #2e7fad;
  color: white;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  outline-color: none;
}

button.arrow {
  background-color: transparent;
  border: none;
}

button.arrow:hover {
  color: grey;
  background-color: transparent;
  text-decoration: none !important;
}

button#login {
  margin-top: 8%;
}

button#signup-button {
  margin-top: 8%;
  margin-bottom: 8%;
}

div.user-input-container {
  border-radius: 50px 5px 5px 5px !important;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  border-radius: 5px;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 18rem;
}

div.form-group {
  text-align: left;
}

div.email {
  padding-top: 0;
  padding-bottom: 0;
}

div.subject-display {
  height: 30rem;
  text-align: center;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 50px;
  overflow-y: scroll;
}

div.classes-display {
  height: 30rem;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 2%;
  text-align: center;
  padding-bottom: 0;
  overflow-y: scroll;
}

li.smaller {
  padding: 0;
}

div.student-schedule {
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 1%;
  text-align: center;
  padding-bottom: 0;
  margin-left: 50px;
  margin-top: 2%;
  height: 30rem;
}

div.schedule-controls {
  margin-top: 1rem;
}

p#schedule-counter {
  margin-bottom: 0.25rem;
}

p.error-message {
  margin-top: 0.5rem;
  margin-bottom: 0;
  background-color: rgb(220, 220, 220);
  border-radius: 5px;
}

hr {
  margin: 0 !important;
}

div.class-list {
  background-color: rgb(220, 220, 220);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 1%;
  text-align: center;
  padding-bottom: 0;
  margin-top: 6%;
  height: 30rem;
  overflow-y: scroll;
}

h4 {
  text-align: center;
}

h5.card-title {
  padding-top: 1rem;
}

/* ======================================================= */
/* SCROLLBARS */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ======================================================= */
/* ALERT */
.alert-success {
  visibility: hidden;
  margin-bottom: 0 !important;
  text-align: center;
  z-index: 5;
}

.alert-dark {
  visibility: hidden;
  margin-bottom: 0 !important;
  text-align: center;
  z-index: 5;
}
/* ======================================================= */
/* TOOLTIP */
button.collision {
  border-radius: 100%;
  height: 2rem;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

span.exclamation {
  object-position: center;
}

.fa-times {
  color: rgb(129, 0, 0) !important;
}
